.a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.p {
  margin: 0.75rem 0 0;
}

.h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.input,
.button {
  border: 0 none;
  outline: 0 none;
}

.button {
  background-color: #ffa33a;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #333;
  cursor: pointer;
}

.img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

.input,
.button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before,
.shipping-value:before {
  content: '$';
}

.hide {
  display: none;
}

.main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

.basket,
.aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 60%;
}

.basket-wishlist{
  width: 70% I !important;
}

.basket-module {
  color: #fff;
  margin-top: 3vh;
}

.basket-module label{
  margin-left: 2em;
}

.product-id{
  margin-top: 1em;
  color: rgba(255,255,255,0.3);
  text-transform: uppercase;
}

.label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  color: #fff;
  display: inline-block;
  padding: 0.625rem 0;
}

.li.price:before,
.li.subtotal:before {
  content: '';
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: transparent;
  color: #ffa33a;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 65%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 2px;
  width: 3.75rem;
}

.aside {
  float: left;
  position: fixed;
  width: 30%;
  margin-left: 60vw;
  margin-top: 0;
}

.summary {
  background-color: #0f0f0f;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.shipping-title,
.promo-value,
.shipping-value {
  color: #eee;
  float: left;
  width: 50%;
}

.summary-promo,
.summary-shipping {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title,
.shipping-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}

.shipping-value {
  color: #efd551;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.backhome-cta {
  display: block;
  float: none;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 50%;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.address-cta {
  background-color: #f8663d;
  display: block;
  float: none;
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

.empty-cart-container{
  width: 96%;
}

.empty-cart{
  width: 100%;
  display: block;
  text-align: center;
}

.comment-container{
  overflow: auto;
}

.comment-box{
  padding: 0.3em;
  background-color: #e9820c;
  border-radius: 5px;
  margin-bottom: 1em;
}

.comment-content{
  padding: 1em;
  background-color: #444;
  border-radius: 10px;
}

.comment-btn{
  margin-bottom: 1em;
  border-radius: 10px;
}

.navlinks{
  font-size: 1.2em;
}

@media screen and (min-width: 1280px) {
  .comment-box{
    width: 100%;
    float: right;
  }

  .comment-btn{
    width: 100%;
    float: right;
  }
}

@media screen and (max-width: 1280px) {
  .aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
  .aside{
    position: relative;
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
  .aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}
